<%= auto_discovery_link_tag(:atom, noticias_path(:atom)) %>

<h1 class="titulo centralizado" style="color: #3A86C7;">Noticias</h1>

<% for noticia in @noticias do %>
	<div class="row">
		<div class="span12">
			<h2><%= link_to noticia.titulo, noticia_path(noticia), :class => 'titulo_noticia'%></h2>
			<h4><small>por <%= noticia.usuario.nome %> em <%= noticia.created_at.strftime('%d/%m/%y')%></small></h4>
		</div>
		<div class="span12">
			<div class="well" style="min-height: 200px;">
				<div class="thumbnail"style="float: right; margin-left: 10px;">
					<img src="<%= noticia.imagem.url(:front_page) %>" alt="">                
				</div>
				<p style="text-align: justify;"><%= noticia.conteudo.html_safe %></p>
			</div>
		</div>
	</div>
	<hr />
<% end %>

<%= will_paginate @noticias, :class => 'pagination' %>