<div class="row">
	<div class="span12">
		<h2><%=  @noticia.titulo %></h2>
		<h4><small>por <%= @noticia.usuario.nome %> em <%= @noticia.created_at.strftime('%d/%m/%y')%></small></h4>
	</div>
	<div class="span12">
		<div class="well" style="min-height: 200px;">
			<div class="thumbnail"style="float: right; margin-left: 10px;">
				<img src="http://placehold.it/300x200" alt="">                
			</div>
			<p style="text-align: justify;"><%= @noticia.conteudo.html_safe %></p>
		</div>
	</div>
</div>

<% if @noticia.usuario == current_user %>
<div class="row">
	<div class="span12">
		<a href="<%= edit_noticia_path(@noticia) %>"><i class="icon-pencil"> </i> Editar</a> ou 
		<a href="<%= noticia_path(@noticia) %>" data-method="delete" data-confirm="Tem certeza?"><i class="icon-remove-circle"> </i> deletar</a>
	</div>
</div>
<% end %>

<div class="row">
	<div class="span12">
		<%= render 'helper/disqus'%>
	</div>
</div>