<div class="row">
	<div class="span12">
		<h1 class="centralizado">Banners</h1>
		<hr />
	</div>

	<% for banner in @banners %>
	<div class="span4">
		<div class="well">
			<img src="<%= banner.img_url %>" alt="<%= banner.titulo %>">

			<p><%= link_to banner.titulo, edit_banner_path(banner) %></p>
			<p><%= link_to 'Remover', banner_path(banner), method: :delete, :confirm => "Tem certeza?" %></p>
		</div>
	</div>
	<% end %>
</div>
<hr />
<div class="row">
	<div class="span12">
		<%= will_paginate @banners, :renderer =>  BootstrapPagination::Rails %>
	</div>
</div>

