<%= content_for :title, "Resultados da busca" %>
<div class="row">
	<div class="span12">
		<h1 class="text-center"><i class="icon-bookmark-empty"> </i>Notícias com <span class="highlight"><%= @search.keywords %></span>: <%= @search.noticias.size %></h1>
	</div>
</div>

<% if !@search.noticias.empty? %>
<div class="row well">
	<% for result in @search.noticias %>
		<% noticia = result.at(0) %>
		<% score = result.at(1)%>
	<div class="span12">
		<h4><i class="icon-quotes"> </i><%= link_to slice_string(noticia.titulo, 80), noticia_path(noticia) %> <small>postada em <%= display_date(noticia.created_at)%></small></h4>
	</div>
	<% end %>
</div>
<% end %>

<div class="row">
	<div class="span12">
		<h1 class="text-center"><i class="icon-smiley-alt"> </i>Devocionais com <span class="highlight"><%= @search.keywords %></span>: <%= @search.devocionais.size %></h1>
	</div>
</div>
<% if !@search.devocionais.empty? %>
	<div class="row well">
		<% for result in @search.devocionais %>
			<% devocional = result.at(0) %>
			<% score = result.at(1)%>
		<div class="span12">
			<h4><i class="icon-quotes"> </i><%= link_to slice_string(devocional.titulo, 80), devocional_path(devocional) %> <small>devocional para <%= display_date(devocional.created_at)%></small></h4>
		</div>
		<% end %>
	</div>
<% end%>