<h1>Usuarios</h1>
<div class="row">
	<div class="span12">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<th>Nome</th>
					<th>E-mail</th>
					<th>Editar</th>
				</tr>

				<% for usuario in @usuarios do %>
				<tr>
					<td><%= usuario.nome %></td>
					<td><%= usuario.email %></td>
					<td>
						<div class="btn-group">
							<a class="btn" href="<%= usuario_path(usuario) %>" data-method="delete" data-confirm="Tem certeza?">Deletar</a>
							<a class="btn" <% if usuario.admin %> disabled <% end %> href="<%= super_usuario_path(usuario) %>">
								Tornar admin
							</a>
							<a class="btn" href="<%= usuario_path(usuario) %>">Visualizar</a>
						</div>							
					</td>
				</tr>
				<% end %>

			</tbody>
		</table>
	</div>
</div>
