<h1>Adicionar um usuario</h1>
<%= form_for @usuario, :html => {:class => 'well'} do |f| %>
<% if @usuario.errors.any? %>
  <div id="alert alert-block">
    <div class="alert alert-error">
    <h2>Ocorreu um erro ao salvar o usuário</h2>

    <ul>
    <% @usuario.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
<% end %>
	<%= f.label :nome %>
	<%= f.text_field :nome, :autofocus => true %>
	
	<%= f.label :email %>
	<%= f.text_field :email  %>
	
	<fieldset>
		<legend>Senha</legend>
		<%= f.label :password, 'Senha' %>
		<%= f.password_field :password %>
		
		<%= f.label :password_confirmation, 'Confirmação de senha' %>
		<%= f.password_field :password_confirmation %>
	</fieldset>
	
	<div class="form-actions">
		<%= f.submit 'Salvar', :class => 'btn btn-large'%>
	</div>
<% end %>