<%= form_for @educacional, :html => {:class => 'well'} do |f| %>
	<% if @educacional.errors.any? %>
	<div id="error_explanation" class="alert">
		<h2><%= pluralize(@educacional.errors.count, "erro") %> impedem essa pagina de ser salva:</h2>

		<ul>
			<% @educacional.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= f.label :titulo %><br />
		<%= f.text_field :titulo %>
	</div>
	<div class="field">
		<%= f.label :descricao, "Conteudo" %>
		<%= f.text_area :descricao, :class => 'weditor', :style => 'width: 100%; height: 200px;' %>
	</div>
	<div class="form-actions">
		<%= f.submit 'Salvar', :class => 'btn btn-large'%>
	</div>
	<% end %>
