<!DOCTYPE html>
<html lang="en">
<head>
	<title>IELT :: Igreja evangélica livre de Toledo</title>

	<%= stylesheet_link_tag "application", :media => "all" %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>

	<%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
		<%= render "helper/navbar"%>
		<%= render "helper/messages" %>

		<%= yield %>
	</div>

	<%= javascript_include_tag "application" %>
	<%= render "helper/js"%>
</body>
</html>
