<!DOCTYPE html>
<html lang="en">
<head>
	<title>IELT :: <%= content_for?(:title) ? yield(:title) : "Igreja evangélica livre de Toledo" %></title>

	<%= stylesheet_link_tag "application", :media => "all" %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>

	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="container" id="content">
		<%= render "helper/navbar"%>
		<%= render 'helper/messages'%>

		<%= yield %>
		
	</div>

	<%= render "helper/js"%>
</body>
</html>
