<!DOCTYPE html>
<html lang="en">
<head>
	<title>IELT :: <%= content_for?(:title) ? yield(:title) : "Igreja evangélica livre de Toledo" %></title>

	<%= stylesheet_link_tag "application", :media => "all" %>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>

	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="container" id="content">
		
		<div class="row topo">
			<div class="span12">
			<h1 class="centralizado ielt">
				<a href="/"><%= image_tag 'logo-ielt2.png', :style=>'height: 60px;' %></a>
				Igreja Evangélica Livre de Toledo
			</h1>
			</div>
		</div>
		
		<%= render "helper/navbar"%>
		<%= render 'helper/messages'%>

		<%= yield %>
		
	</div>

	<%= render "helper/js"%>
</body>
</html>
